playbutton {
    margin: 5px;
}

button.play-button {
    
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
}

button.playing {
    background: #fff;
    color: #000;
}

.play-button-icon{
    min-width: 60px;
    min-height: 60px;
    color : white;
}

.play-button-icon.playing{
    
    color: black;
}